name: PROJECT_NAME
root: PROJECT_ROOT

windows:
  - genAI:
      panes:
        - commands:
            - ./.devcontainer/launch.sh
  - edit:
      panes:
        - commands:
            - cd ../PROJECT_NAME
            - clear
  - git:
      panes:
        - commands:
            - lazygit
