name: PROJECT_NAME
root: PROJECT_ROOT

windows:
  - dev:
      layout: even-vertical
      panes:
        - commands:
            - ./.devcontainer/launch.sh
        - commands:
            - cd ../test
            - clear

  - git:
      panes:
        - lazygit
